body{
margin:0;
font-family:Arial,sans-serif;
background:#f4f4f4;
}

header{
background:#222;
text-align:center;
padding:20px;
color:white;
}

.logo{
width:140px;
border-radius:20px;
}

.hero{
background:url("/static/images/tp1.jpg");
background-size:cover;
background-position:center;
height:450px;

display:flex;
justify-content:center;
align-items:center;
}

.overlay{
background:rgba(0,0,0,.55);
padding:30px;
width:85%;
border-radius:20px;
text-align:center;
color:white;
}

.overlay h1{
font-size:42px;
margin-bottom:15px;
}

.overlay p{
font-size:18px;
line-height:28px;
}

button{
margin-top:20px;
padding:15px 35px;
background:#2ecc71;
border:none;
border-radius:30px;
color:white;
font-size:18px;
}

.galeri{
padding:30px;
text-align:center;
}

.galeri h2{
color:#333;
}

.foto{
display:flex;
overflow-x:auto;
gap:15px;
padding:10px;
}

.foto img{
width:280px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.3);
}

footer{
background:#222;
color:white;
text-align:center;
padding:20px;
margin-top:30px;
}
.maps{
padding:30px;
background:white;
text-align:center;
}
.maps h2{
color:#333;
margin-bottom:20px;
}
.maps iframe{
width:100%;
height:300px;
border:none;
border-radius:20px;
}

