<!DOCTYPE html>
<html lang="id">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Damar Adventure</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<header>
<img src="/static/images/dmr.jpg" class="logo">
<p>Open Trip Gunung Indonesia</p>
</header>

<section class="hero">
<div class="overlay">
<h1>Selamat Datang</h1>

<p>
Rasakan pengalaman mendaki yang aman,
seru, dan penuh kebersamaan bersama
Damar Adventure.
</p>

<a href="/daftar">
<button>DAFTAR SEKARANG</button>
</a>
</div>
</section>

<section class="galeri">

<h2>Galeri Pendakian</h2>

<div class="foto">
<img src="/static/images/tp1.jpg">
<img src="/static/images/tp2.jpg">
<img src="/static/images/tp3.jpg">
</div>

</section>
<section class="maps">
    <h2>📍 lokasi </h2>

    <iframe
        src="https://www.google.com/maps?q=Desa+Kertawinangun,+Kecamatan+Kandanghaur,+Kabupaten+Indramayu&output=embed"
        loading="lazy">
    </iframe>
</section>

<footer>

<p>© 2026 Damar Adventure</p>

</footer>

</body>
</html>
